ion-icon {
  zoom: var(--ion-input-field-icon-zoom);
  padding-right: var(--ion-field-icon-padding-right);
}

.center-title {
  padding-left: var(--ion-android-title-with-back-button-padding-left);
  padding-right: var(--ion-android-title-with-back-button-padding-right);
}

.input-content {
  align-items: center;
  display: flex;
}

.input-text {
  padding-top: 3px;
  padding-left: 5px;
}

.custom-item-container {
  margin: 0px 16px;
}