<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" tappable (click)="onNavigateBack()"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{ "My Trips" | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button tappable (click)="onNavigateToForm()" routerDirection="forward">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center center-spinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && (!tripWrapper || tripWrapper.trips.length === 0)" class="ion-text-center">
    <p>{{ "No results found!" | translate }}</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ng-container *ngIf="tripWrapper && !isLoading">
          <ion-card *ngFor="let trip of tripWrapper.trips" class="ion-activatable">
            <ion-item>
              <ion-icon
                tappable
                name="location-outline"
                slot="start"
              ></ion-icon>
              
              <ion-label tappable>{{ trip.registrationNumber }}</ion-label>
              <ion-button fill="clear" slot="end" tappable (click)="presentActionSheet(trip.id)">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-item>
      
            <ion-card-content tappable>
              <ion-label>
                <b>{{ "Departure" | translate }}</b>: {{ trip.departureAddress.name }}
              </ion-label>
              <br/>
              <ion-label>
                <b>{{ "Arrival" | translate }}</b>: {{ trip.arrivalAddress.name }}
              </ion-label>
              <br/>
              <ion-label *ngIf="!isIOS">
                <b>{{ "Date" | translate }}</b>:
                {{ trip.departureDate | date : "dd-MM-yyyy HH:mm" }} - {{ trip.arrivalDate | date : "dd-MM-yyyy HH:mm" }}
              </ion-label>
              <ion-label *ngIf="isIOS">
                <b>{{ "Departure date" | translate }}</b>: {{ trip.departureDate | date : "dd-MM-yyyy HH:mm" }}
                <b>{{ "Arrival date" | translate }}</b>: {{ trip.arrivalDate | date : "dd-MM-yyyy HH:mm" }}
              </ion-label>
              <br *ngIf="trip.cost"/>
              <ion-label *ngIf="trip.cost">
                <b>{{ "Cost" | translate }}</b>: {{ trip.cost }} DKK
              </ion-label>
              <br *ngIf="trip.distance"/>
              <ion-label *ngIf="trip.distance">
                <b>{{ "Distance" | translate }}</b>: {{ trip.distance }} KM
              </ion-label>
              <br *ngIf="trip.note"/>
              <ion-label *ngIf="trip.note">
                <b>{{ "Note" | translate }}</b>: {{ trip.note }}
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ng-container>

        <ion-infinite-scroll threshold="1px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            [loadingText]="'Loading more data...' | translate"
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
