<ion-grid>
  <form [formGroup]="vehicleForm">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item-group>
          <ion-item-divider [class.md-title-group]="!isIOS">
            <ion-label>{{ "Garage*" | translate }}</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-label>
              <div class="input-content">
                <ion-icon 
                  [class.md-denmark-checkbox]="!isIOS"
                  [class.ios-denmark-checkbox]="isIOS"
                  name="caret-forward-circle-outline"
                ></ion-icon>
                <span class="input-text denmark-label">{{ "Registration number" | translate }}</span>
              </div>
            </ion-label>
            <ion-select 
              tappable 
              interface="popover" 
              formControlName="registrationNumber"
            >
              <ion-select-option *ngFor="let regNumber of registrationNumbers" [value]="regNumber.number">{{ regNumber.number }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isValidForAllRequeiredExceptRegNumber()" lines="none">
            <ion-label class="invalid-feedback">{{ "Field is required!" | translate }}</ion-label>
          </ion-item>

          <ion-item *ngIf="!registrationNumbers || registrationNumbers.length === 0" lines="none">
            <ion-label class="invalid-feedback">{{ "Your garage is empty!" | translate }}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item-group>
          <ion-item-divider [class.md-title-group]="!isIOS">
            <ion-label>{{ "Departure*" | translate }}</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-label>
              <div class="input-content">
                <ion-icon 
                  [class.md-denmark-checkbox]="!isIOS"
                  [class.ios-denmark-checkbox]="isIOS"
                  name="alert-circle-outline"
                ></ion-icon>
                <span class="input-text denmark-label">{{ "Within Denmark" | translate }}</span>
              </div>
            </ion-label>
            <ion-checkbox color="primary" [checked]="withinDenmarkDeparture" (ionChange)="onDepartureChange()"></ion-checkbox>
          </ion-item>

          <ng-container *ngIf="withinDenmarkDeparture">
            <ion-item>
              <ion-label position="stacked">
                <div class="input-content">
                  <ion-icon src="assets/icon/arrow-up-right.svg"></ion-icon>
                  <span class="input-text">{{ "Address" | translate }}</span>
                </div>
              </ion-label>
              <ionic-selectable
                #departureAddressSelectable
                [placeholder]="'Select address' | translate" 
                [canSearch]="true"
                itemValueField="id"
                itemTextField="name"
                [searchFailText]="'Enter address within Denmark' | translate"
                (onSearch)="onAddressSearch($event)"
                [searchDebounce]="1000"
                formControlName="departureAddressWithinDenmark"
                [searchPlaceholder]="'Street name + number' | translate"
              >
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="arrow-back-outline" style="zoom: 1.2;"></ion-icon>
                </ng-template>
              </ionic-selectable>
            </ion-item>
  
            <ion-item *ngIf="!f.departureAddressWithinDenmark.valid && f.departureAddressWithinDenmark.touched" lines="none">
              <ion-label *ngIf="f.departureAddressWithinDenmark.errors.required" class="invalid-feedback">{{ "Field is required!" | translate }}</ion-label>
              <ion-label *ngIf="f.departureAddressWithinDenmark.errors.missingId" class="invalid-feedback">{{ "Address must have Street name + number" | translate }}</ion-label>
            </ion-item>
          </ng-container>
          
          <ng-container *ngIf="!withinDenmarkDeparture">
            <ion-item>
              <ion-label position="stacked">
                <div class="input-content">
                  <ion-icon src="assets/icon/arrow-up-right.svg"></ion-icon>
                  <span class="input-text">{{ "Address" | translate }}</span>
                </div>
              </ion-label>
              <ion-input [placeholder]="'Enter address' | translate" formControlName="departureAddress" type="text"></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!f.departureAddress.valid && f.departureAddress.touched" lines="none">
              <ion-label *ngIf="f.departureAddress.errors.maxlength" class="invalid-feedback">{{ "Maximum address length is 50 symbols!" | translate }}</ion-label>
              <ion-label *ngIf="f.departureAddress.errors.minlength" class="invalid-feedback">{{ "Address should be at least 2 symbols long!" | translate }}</ion-label>
            </ion-item>
          </ng-container>

          <ion-item>
            <ion-label position="stacked">
              <div class="input-content">
                <ion-icon name="calendar-outline"></ion-icon>
                <span class="input-text">{{ "Date" | translate }}</span>
              </div>
            </ion-label>
            <ion-datetime
              [placeholder]="'Select date' | translate"
              [value]="currentDepartureDate"
              formControlName="departureDate"
              displayFormat="DD MMM YYYY HH:mm" 
              min="1991" 
              [max]="currentYear"
              [monthShortNames]="'Datetime-months' | translate"
              [cancelText]="'Cancel' | translate"
              [doneText]="'Done' | translate"
            ></ion-datetime>
          </ion-item>

          <ion-item *ngIf="!f.departureDate.valid && f.departureDate.touched" lines="none">
            <ion-label *ngIf="f.departureDate.errors.required" class="invalid-feedback">{{ "Date is required!" | translate }}</ion-label>
            <ion-label *ngIf="f.departureDate.errors.invalidRange" class="invalid-feedback">{{ "Departure must end before arrival date!" | translate }}</ion-label>
          </ion-item>
        </ion-item-group>  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item-group>
          <ion-item-divider [class.md-title-group]="!isIOS">
            <ion-label>{{ "Arrival*" | translate }}</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-label>
              <div class="input-content">
                <ion-icon 
                  [class.md-denmark-checkbox]="!isIOS"
                  [class.ios-denmark-checkbox]="isIOS"
                  name="alert-circle-outline"
                ></ion-icon>
                <span class="input-text denmark-label">{{ "Within Denmark" | translate }}</span>
              </div>
            </ion-label>
            <ion-checkbox color="primary" [checked]="withinDenmarkArrival" (ionChange)="onArrivalChange()"></ion-checkbox>
          </ion-item>

          <ng-container *ngIf="withinDenmarkArrival">
            <ion-item>
              <ion-label position="stacked">
                <div class="input-content">
                  <ion-icon src="assets/icon/arrow-down-left.svg"></ion-icon>
                  <span class="input-text">{{ "Address" | translate }}</span>
                </div>
              </ion-label>
              <ionic-selectable
                #arrivalAddressSelectable
                [placeholder]="'Select address' | translate"
                [canSearch]="true"
                itemValueField="id"
                itemTextField="name"
                [searchFailText]="'Enter address within Denmark' | translate"
                (onSearch)="onAddressSearch($event, false)"
                [searchDebounce]="1000"
                formControlName="arrivalAddressWithinDenmark"
                [searchPlaceholder]="'Street name + number' | translate"
              >
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="arrow-back-outline" style="zoom: 1.2;"></ion-icon>
                </ng-template>
              </ionic-selectable>
            </ion-item>
  
            <ion-item *ngIf="!f.arrivalAddressWithinDenmark.valid && f.arrivalAddressWithinDenmark.touched" lines="none">
              <ion-label *ngIf="f.arrivalAddressWithinDenmark.errors.required" class="invalid-feedback">{{ "Field is required!" | translate }}</ion-label>
              <ion-label *ngIf="f.arrivalAddressWithinDenmark.errors.missingId" class="invalid-feedback">{{ "Address must have Street name + number" | translate }}</ion-label>
            </ion-item>
          </ng-container>
          
          <ng-container *ngIf="!withinDenmarkArrival">
            <ion-item>
              <ion-label position="stacked">
                <div class="input-content">
                  <ion-icon src="assets/icon/arrow-down-left.svg"></ion-icon>
                  <span class="input-text">{{ "Address" | translate }}</span>
                </div>
              </ion-label>
              <ion-input [placeholder]="'Enter address' | translate" formControlName="arrivalAddress" type="text"></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!f.arrivalAddress.valid && f.arrivalAddress.touched" lines="none">
              <ion-label *ngIf="f.arrivalAddress.errors.maxlength" class="invalid-feedback">{{ "Maximum address length is 50 symbols!" | translate }}</ion-label>
              <ion-label *ngIf="f.arrivalAddress.errors.minlength" class="invalid-feedback">{{ "Address should be at least 2 symbols long!" | translate }}</ion-label>
            </ion-item>
          </ng-container>

          <ion-item>
            <ion-label position="stacked">
              <div class="input-content">
                <ion-icon name="calendar-outline"></ion-icon>
                <span class="input-text">{{ "Date" | translate }}</span>
              </div>
            </ion-label>
            <ion-datetime
              [value]="currentArrivalDate"
              [placeholder]="'Select date' | translate"
              formControlName="arrivalDate"
              displayFormat="DD MMM YYYY HH:mm" 
              min="1991" 
              [max]="currentYear"
              [monthShortNames]="'Datetime-months' | translate"
              [cancelText]="'Cancel' | translate"
              [doneText]="'Done' | translate"
            ></ion-datetime>
          </ion-item>

          <ion-item *ngIf="!f.arrivalDate.valid && f.arrivalDate.touched" lines="none">
            <ion-label *ngIf="f.arrivalDate.errors.required" class="invalid-feedback">{{ "Date is required!" | translate }}</ion-label>
            <ion-label *ngIf="f.arrivalDate.errors.invalidRange" class="invalid-feedback">{{ "Arrival must end after departure date!" | translate }}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item-divider [class.md-title-group]="!isIOS" tappable (click)="toggleAdditionalInfoSection()">
          <ion-label>{{ "Additional info - optional" | translate }}</ion-label>
          <ion-icon 
            [class.md-chevron-dark-theme-black]="isDarkTheme && !isIOS"
            [name]="!showAdditionalInfo ? 'chevron-forward-outline' : 'chevron-down-outline'" 
            slot="end"
          ></ion-icon>
        </ion-item-divider>

        <ion-item-group *ngIf="showAdditionalInfo">
          <ion-item>
            <ion-label position="stacked">
              <div class="input-content">
                <ion-icon name="speedometer-outline"></ion-icon>
                <span class="input-text">{{ "Distance" | translate }}</span>
              </div>
            </ion-label>
            <ion-input placeholder="Km" formControlName="distance" type="number"></ion-input>
          </ion-item>

          <ion-item *ngIf="!f.distance.valid && f.distance.touched" lines="none">
            <ion-label *ngIf="f.distance.errors.max" class="invalid-feedback">{{ "Maximum distance 10 000 000 km!" | translate }}</ion-label>
          </ion-item>
        
          <div class="cost-dkk-container">
            <ion-item>
              <ion-label position="stacked">
                <div class="input-content">
                  <ion-icon name="cash-outline"></ion-icon>
                  <span class="input-text">{{ "Cost" | translate }}</span>
                </div>
              </ion-label>
              <ion-input [placeholder]="'Number' | translate" formControlName="cost" type="number"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="stacked">
                <div class="input-content">
                  <ion-icon name="wallet-outline"></ion-icon>
                </div>
              </ion-label>
              <ion-input placeholder="Dkk" [value]="f.cost.value | currency:'DKK'" readonly></ion-input>
            </ion-item>
          </div>
          
          <ion-item *ngIf="!f.cost.valid && f.cost.touched" lines="none">
            <ion-label *ngIf="f.cost.errors.max" class="invalid-feedback">{{ "Maximum cost 10 000 000 dkk!" | translate }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">
              <div class="input-content">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                <span class="input-text">{{ "Note" | translate }}</span>
              </div>
            </ion-label>
            <ion-textarea [placeholder]="'Comment' | translate" rows="2" formControlName="note"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="!f.note.valid && f.note.touched" lines="none">
            <ion-label *ngIf="f.note.errors.maxlength" class="invalid-feedback">{{ "Text cannot be more than 200 symbols!" | translate }}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button
          tappable
          color="primary" 
          expand="block"
          [disabled]="!isFormValid()"
          (click)="onSubmit()"
        >
          {{ "Save" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>