<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onDismissModal()"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ "Settings" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-list>

            <ion-list-header>
              <ion-label>
                {{ "Settings" | translate }}
              </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>{{ "Language" | translate }}</ion-label>
              <ion-select
                [value]="this.currentLanguage" 
                [okText]="'Save' | translate" 
                [cancelText]="'Cancel' | translate"
                (ionChange)="onChangeLanguage($event)"
                (click)="setIconFlags()"
              >
                <ion-select-option value="en">{{ "English" | translate }}</ion-select-option>
                <ion-select-option value="dk">{{ "Danish" | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>