.center-title {
  padding-left: var(--ion-android-title-with-back-button-padding-left);
  padding-right: var(--ion-android-title-with-back-button-padding-right);
}

.android-text-area-label {
  font-size: 22px;
  font-weight: bold;
}

.ios-text-area-label {
  font-size: 17px;
  font-weight: bold;
}

.android-text-area {
  font-size: 11px;
}

ion-label {
  font-weight: bold;
}