<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onDismissModal()"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center" [class.center-title]="!isIOS">{{ "Add New Trip" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <form [formGroup]="vehicleForm">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item-group>
              <ion-item-divider>
                <ion-label>{{ "Departure*" | translate }}</ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label>
                  <div class="input-content">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                    <span class="input-text">{{ "Within Denmark" | translate }}</span>
                  </div>
                </ion-label>
                <ion-checkbox color="primary" [checked]="withinDenmarkDeparture" (ionChange)="onDepartureChange($event)"></ion-checkbox>
              </ion-item>
  
              <ng-container *ngIf="withinDenmarkDeparture">
                <ion-item>
                  <ion-label position="floating">
                    <div class="input-content">
                      <ion-icon src="assets/icon/map-pin.svg"></ion-icon>
                      <span class="input-text">{{ "Address" | translate }}</span>
                    </div>
                  </ion-label>
                  <ionic-selectable
                    [canSearch]="true"
                    itemValueField="id"
                    itemTextField="name"
                    [searchFailText]="'Enter address within Denmark' | translate"
                    (onSearch)="onAddressSearch($event)"
                    [searchDebounce]="1000"
                    formControlName="departureAddressWithinDenmark"
                    [searchPlaceholder]="'Street name + number' | translate"
                  >
                    <ng-template ionicSelectableCloseButtonTemplate>
                      <ion-icon name="arrow-back-outline" style="zoom: 1.2;"></ion-icon>
                    </ng-template>
                  </ionic-selectable>
                </ion-item>
      
                <ion-item *ngIf="!f.departureAddressWithinDenmark.valid && f.departureAddressWithinDenmark.touched" lines="none">
                  <ion-label *ngIf="f.departureAddressWithinDenmark.errors.required" class="invalid-feedback">{{ "Field is required!" | translate }}</ion-label>
                  <ion-label *ngIf="f.departureAddressWithinDenmark.errors.missingId" class="invalid-feedback">{{ "Address must have Street name + number" | translate }}</ion-label>
                </ion-item>
              </ng-container>
              
              <ng-container *ngIf="!withinDenmarkDeparture">
                <ion-item>
                  <ion-label position="floating">
                    <div class="input-content">
                      <ion-icon src="assets/icon/map-pin.svg"></ion-icon>
                      <span class="input-text">{{ "Address" | translate }}</span>
                    </div>
                  </ion-label>
                  <ion-input formControlName="departureAddress" type="text"></ion-input>
                </ion-item>
                
                <ion-item *ngIf="!f.departureAddress.valid && f.departureAddress.touched" lines="none">
                  <ion-label *ngIf="f.departureAddress.errors.required" class="invalid-feedback">{{ "Address is required!" | translate }}</ion-label>
                  <ion-label *ngIf="f.departureAddress.errors.minlength" class="invalid-feedback">{{ "Address should be at least 2 symbols long!" | translate }}</ion-label>
                </ion-item>
              </ng-container>
  
              <ion-item>
                <ion-label position="floating">
                  <div class="input-content">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <span class="input-text">{{ "Date" | translate }}</span>
                  </div>
                </ion-label>
                <ion-datetime
                  [value]="currentDate"
                  formControlName="departureDate"
                  displayFormat="DD MMM YYYY HH:mm" 
                  min="1991" 
                  [max]="currentYear"
                  [monthShortNames]="'Datetime-months' | translate"
                  [cancelText]="'Cancel' | translate"
                  [doneText]="'Done' | translate"
                ></ion-datetime>
              </ion-item>

              <ion-item *ngIf="!f.departureDate.valid && f.departureDate.touched" lines="none">
                <ion-label *ngIf="f.departureDate.errors.required" class="invalid-feedback">{{ "Date is required!" | translate }}</ion-label>
              </ion-item>
            </ion-item-group>  
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item-group>
              <ion-item-divider>
                <ion-label>{{ "Arrival*" | translate }}</ion-label>
              </ion-item-divider>
  
              <ion-item>
                <ion-label>
                  <div class="input-content">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                    <span class="input-text">{{ "Within Denmark" | translate }}</span>
                  </div>
                </ion-label>
                <ion-checkbox color="primary" [checked]="withinDenmarkArrival" (ionChange)="onArrivalChange()"></ion-checkbox>
              </ion-item>
  
              <ng-container *ngIf="withinDenmarkArrival">
                <ion-item>
                  <ion-label position="floating">
                    <div class="input-content">
                      <ion-icon src="assets/icon/map-pin.svg"></ion-icon>
                      <span class="input-text">{{ "Address" | translate }}</span>
                    </div>
                  </ion-label>
                  <ionic-selectable
                    [canSearch]="true"
                    itemValueField="id"
                    itemTextField="name"
                    [searchFailText]="'Enter address within Denmark' | translate"
                    (onSearch)="onAddressSearch($event, false)"
                    [searchDebounce]="1000"
                    formControlName="arrivalAddressWithinDenmark"
                    [searchPlaceholder]="'Street name + number' | translate"
                  >
                    <ng-template ionicSelectableCloseButtonTemplate>
                      <ion-icon name="arrow-back-outline" style="zoom: 1.2;"></ion-icon>
                    </ng-template>
                  </ionic-selectable>
                </ion-item>
      
                <ion-item *ngIf="!f.arrivalAddressWithinDenmark.valid && f.arrivalAddressWithinDenmark.touched" lines="none">
                  <ion-label *ngIf="f.arrivalAddressWithinDenmark.errors.required" class="invalid-feedback">{{ "Field is required!" | translate }}</ion-label>
                  <ion-label *ngIf="f.arrivalAddressWithinDenmark.errors.missingId" class="invalid-feedback">{{ "Address must have Street name + number" | translate }}</ion-label>
                </ion-item>
              </ng-container>
              
              <ng-container *ngIf="!withinDenmarkArrival">
                <ion-item>
                  <ion-label position="floating">
                    <div class="input-content">
                      <ion-icon src="assets/icon/map-pin.svg"></ion-icon>
                      <span class="input-text">{{ "Address" | translate }}</span>
                    </div>
                  </ion-label>
                  <ion-input formControlName="arrivalAddress" type="text"></ion-input>
                </ion-item>
                
                <ion-item *ngIf="!f.arrivalAddress.valid && f.arrivalAddress.touched" lines="none">
                  <ion-label *ngIf="f.arrivalAddress.errors.required" class="invalid-feedback">{{ "Address is required!" | translate }}</ion-label>
                  <ion-label *ngIf="f.arrivalAddress.errors.minlength" class="invalid-feedback">{{ "Address should be at least 2 symbols long!" | translate }}</ion-label>
                </ion-item>
              </ng-container>
  
              <ion-item>
                <ion-label position="floating">
                  <div class="input-content">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <span class="input-text">{{ "Date" | translate }}</span>
                  </div>
                </ion-label>
                <ion-datetime
                  formControlName="arrivalDate"
                  displayFormat="DD MMM YYYY HH:mm" 
                  min="1991" 
                  [max]="currentYear"
                  [monthShortNames]="'Datetime-months' | translate"
                  [cancelText]="'Cancel' | translate"
                  [doneText]="'Done' | translate"
                ></ion-datetime>
              </ion-item>

              <ion-item *ngIf="!f.arrivalDate.valid && f.arrivalDate.touched" lines="none">
                <ion-label *ngIf="f.arrivalDate.errors.required" class="invalid-feedback">{{ "Date is required!" | translate }}</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item-group>
              <ion-item-divider>
                <ion-label>{{ "Additional info" | translate }}</ion-label>
              </ion-item-divider>
              
              <ion-item>
                <ion-label position="floating">
                  <div class="input-content">
                    <ion-icon name="speedometer-outline"></ion-icon>
                    <span class="input-text">{{ "Distance" | translate }} / km</span>
                  </div>
                </ion-label>
                <ion-input formControlName="distance" type="number"></ion-input>
              </ion-item>
  
              <ion-item *ngIf="!f.distance.valid && f.distance.touched" lines="none">
                <ion-label *ngIf="f.distance.errors.max" class="invalid-feedback">{{ "Maximum distance 10 000 000 km!" | translate }}</ion-label>
              </ion-item>
            
  
              <ion-item>
                <ion-label position="floating">
                  <div class="input-content">
                    <ion-icon name="cash-outline"></ion-icon>
                    <span class="input-text">{{ "Cost" | translate }}</span>
                  </div>
                </ion-label>
                <ion-input formControlName="cost" type="text"></ion-input>
              </ion-item>
  
              <ion-item *ngIf="!f.cost.valid && f.cost.touched" lines="none">
                <ion-label *ngIf="f.cost.errors.maxlength" class="invalid-feedback">{{ "Cannot be more than 15 symbols!" | translate }}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label position="floating">
                  <div class="input-content">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    <span class="input-text">{{ "Note" | translate }}</span>
                  </div>
                </ion-label>
                <ion-textarea rows="2" formControlName="note"></ion-textarea>
              </ion-item>
  
              <ion-item *ngIf="!f.note.valid && f.note.touched" lines="none">
                <ion-label *ngIf="f.note.errors.maxlength" class="invalid-feedback">{{ "Text cannot be more than 200 symbols!" | translate }}</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button
              color="primary" 
              expand="block"
              [disabled]="!isFormValid()"
              (click)="onSubmit()"
            >
              {{ "Save" | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
</ion-content>