<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
      
            <ion-item>
              <ion-label position="floating">
                <div class="input-content">
                  <ion-icon name="person-outline"></ion-icon>
                  <span class="input-text">First Name</span>
                </div>
              </ion-label>
              <ion-input 
                ngModel 
                type="text" 
                name="firstName"
                required
                #firstNameCntrl="ngModel"
              ></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!firstNameCntrl.valid && firstNameCntrl.touched" lines="none">
              <ion-label>Should be a valid name!</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                <div class="input-content">
                  <ion-icon name="person-outline"></ion-icon>
                  <span class="input-text">Last Name</span>
                </div>
              </ion-label>
              <ion-input 
                ngModel 
                type="text" 
                name="lastName"
                required
                #lastNameCntrl="ngModel"
              ></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!lastNameCntrl.valid && lastNameCntrl.touched" lines="none">
              <ion-label>Should be a valid name!</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                <div class="input-content">
                  <ion-icon name="accessibility-outline"></ion-icon>
                  <span class="input-text">Age</span>
                </div>
              </ion-label>
              <ion-input 
                ngModel 
                type="number" 
                name="age"
                required
                #ageCtrl="ngModel"
              ></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!ageCtrl.valid && ageCtrl.touched" lines="none">
              <ion-label>Should be a valid number!</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                <div class="input-content">
                  <ion-icon name="mail-outline"></ion-icon>
                  <span class="input-text">Email</span>
                </div>
              </ion-label>
              <ion-input 
                ngModel 
                type="email" 
                name="email" 
                email 
                required
                #emailCntrl="ngModel"
              ></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!emailCntrl.valid && emailCntrl.touched" lines="none">
              <ion-label>Should be a valid email!</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                <div class="input-content">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <span class="input-text">Password</span>
                </div>
              </ion-label>
              <ion-input
                ngModel 
                type="password"
                name="password"
                required
                minlength="6"
                #passwordCntrl="ngModel"
              ></ion-input>
            </ion-item>
        
            <ion-item *ngIf="!passwordCntrl.valid && passwordCntrl.touched" lines="none">
              <ion-label>Password must be at least 6 chars!</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                <div class="input-content">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <span class="input-text">Confirm Password</span>
                </div>
              </ion-label>
              <ion-input
                ngModel 
                type="password"
                name="cnfrmPassword"
                required
                #cnfrmPasswordCntrl="ngModel"
              ></ion-input>
            </ion-item>
        
            <ion-item *ngIf="cnfrmPasswordCntrl.touched && cnfrmPasswordCntrl.value !== passwordCntrl.value" lines="none">
              <ion-label>Passwords do not match!</ion-label>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-button
            type="button"
            color="primary"
            fill="clear"
            expand="block" 
            (click)="onDismissModal()"
          >
            Back to Log In
          </ion-button>

          <ion-button 
            type="submit"
            color="primary" 
            expand="block"
            (click)="onSubmit()"
            [disabled]="!signUpForm.valid"
          >
            Sign Up
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>