ion-icon {
  zoom: 1.3;
}

.input-content {
  align-items: center;
  display: flex;
}

.input-text {
  padding-top: 3px;
  padding-left: 5px;
}

.invalid-feedback {
  color: var(--ion-color-danger);
  font-size: 14px;
}

@media only screen and (device-width: 320px){
  .invalid-feedback {
    color: var(--ion-color-danger);
    font-size: 12px;
  }
}
