<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onNavigateBack()"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center" [class.center-title]="!isIOS">{{ registrationNumber | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" *ngIf="jsonData">
        <ion-list>
          <ion-item-divider>
            <ion-title class="ion-text-center">First divider</ion-title>
          </ion-item-divider>

          <ion-item>
            <ion-label>{{ "Registration number" | translate }}</ion-label>
            <ion-note slot="end" color="dark">{{ jsonData.registration }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>{{ "Registration number" | translate }}</ion-label>
            <ion-note slot="end" color="dark">{{ jsonData.registration }}</ion-note>
          </ion-item>

          <ion-item-divider color="secondary">
            <ion-title class="ion-text-center">Secondary divider</ion-title>
          </ion-item-divider>
          <ion-item>
            <ion-label>{{ "Registration number" | translate }}</ion-label>
            <ion-note slot="end" color="dark">{{ jsonData.registration }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>{{ "Registration number" | translate }}</ion-label>
            <ion-note slot="end" color="dark">{{ jsonData.registration }}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>