<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" tappable (click)="onNavigateBack()"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{ "My Garage" | translate }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button tappable (click)="toggleFilter()">
        <ion-icon [name]="showList ? 'filter-circle-outline' : 'filter-outline'" slot="icon-only"></ion-icon>
      </ion-button>
      
      <ion-button tappable (click)="onNavigateToForm()" routerDirection="forward">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center center-spinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && (!registrationNumbers || registrationNumbers.length === 0)" class="ion-text-center">
    <p>{{ "No results found!" | translate }}</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        
        <ng-container *ngIf="!showList && !isLoading">
          <ion-card *ngFor="let registrationNumber of registrationNumbers" class="ion-activatable">
            <ion-item>
              <ng-container *ngIf="isCarOrBus(registrationNumber.vehicleType)">
                <ion-icon
                  tappable
                  [name]="getCarOrBusIcon(registrationNumber.vehicleType)" 
                  slot="start" 
                  (click)="onNavigateToDetails(registrationNumber.number)"
                ></ion-icon>
              </ng-container>
              
              <ng-container *ngIf="!isCarOrBus(registrationNumber.vehicleType)">
                <ion-icon
                  tappable
                  *ngIf="isKnownType(registrationNumber.vehicleType)"
                  [src]="getTruckOrMotortCycleOrCaravanUrlPath(registrationNumber.vehicleType)" 
                  slot="start" 
                  (click)="onNavigateToDetails(registrationNumber.number)"
                ></ion-icon>
      
                <ion-icon
                  tappable
                  *ngIf="!isKnownType(registrationNumber.vehicleType)"
                  name="car-outline" 
                  slot="start" 
                  (click)="onNavigateToDetails(registrationNumber.number)"
                ></ion-icon>
              </ng-container>
      
              <ion-label tappable (click)="onNavigateToDetails(registrationNumber.number)">{{ registrationNumber.number }}</ion-label>
              <ion-button fill="clear" slot="end" tappable (click)="presentActionSheet(registrationNumber.number)">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-item>
      
            <ion-card-content tappable (click)="onNavigateToDetails(registrationNumber.number)">
              {{ this.prettifyShortDescription(registrationNumber.shortDescription) }}
            </ion-card-content>
          </ion-card>
        </ng-container>
        
        <ion-card *ngIf="showList && !isLoading">
          <ng-container *ngFor="let registrationNumber of registrationNumbers">
      
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option color="primary" expandable tappable (click)="onNavigateToDetails(registrationNumber.number)">{{ 'Open' | translate }}</ion-item-option>
                <ion-item-option color="danger" expandable tappable (click)="onDeleteVehicle(registrationNumber.number)">{{ 'Delete' | translate }}</ion-item-option>
              </ion-item-options>
          
              <ion-item tappable (click)="onNavigateToDetails(registrationNumber.number)" detail="true">
                <ng-container *ngIf="isCarOrBus(registrationNumber.vehicleType)">
                  <ion-icon
                    tappable
                    [name]="getCarOrBusIcon(registrationNumber.vehicleType)" 
                    slot="start" 
                    (click)="onNavigateToDetails(registrationNumber.number)"
                  ></ion-icon>
                </ng-container>
                
                <ng-container *ngIf="!isCarOrBus(registrationNumber.vehicleType)">
                  <ion-icon
                    tappable
                    *ngIf="isKnownType(registrationNumber.vehicleType)"
                    [src]="getTruckOrMotortCycleOrCaravanUrlPath(registrationNumber.vehicleType)" 
                    slot="start" 
                    (click)="onNavigateToDetails(registrationNumber.number)"
                  ></ion-icon>
        
                  <ion-icon
                    tappable
                    *ngIf="!isKnownType(registrationNumber.vehicleType)"
                    name="car-outline" 
                    slot="start" 
                    (click)="onNavigateToDetails(registrationNumber.number)"
                  ></ion-icon>
                </ng-container>
      
                <ion-label>{{ registrationNumber.number }}</ion-label>
                <ion-icon name="swap-horizontal-outline"></ion-icon>
                <ion-button fill="outline" slot="end">TODO</ion-button>
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="primary" expandable tappable (click)="onNavigateToDetails(registrationNumber.number)">{{ 'Open' | translate }}</ion-item-option>
                <ion-item-option color="danger" expandable tappable (click)="onDeleteVehicle(registrationNumber.number)">{{ 'Delete' | translate }}</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
      
          </ng-container>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>